body{
    margin: 0px;
    padding: 0px;
}
.header{
    width: 100vw;
    height: 150px;
    background-color: aqua;
    margin: 0;
    line-height: 150px;
    text-align: center;
    margin-bottom: 40px;
}

h1{
    margin: 0px;
    font-size: 60px;
}